<div class="container-fluid p-3">
  <div class="d-flex justify-content-between p-1">
    <div>
      <h2 class="mensajes-negrita m-0">ORDEN DE SERVICIO</h2>
      <div class="bg-danger pt-1 m-0"></div>
    </div>
    <h2>ODS <span class="mensajes-negrita">C0987876</span></h2>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel class="m-1" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header
        [ngClass]="{'bg-danger': formularioSeleccionado == 0 , 'bg-secondary': formularioSeleccionado != 0}">
        <mat-panel-title class="text-blanco">
          Datos de identificación
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <mat-icon class="text-blanco">add_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container mt-4">
        <app-datos-identificacion></app-datos-identificacion>
      </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->

    <mat-expansion-panel class="m-1" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header
        [ngClass]="{'bg-danger': formularioSeleccionado == 1 , 'bg-secondary': formularioSeleccionado != 1}">
        <mat-panel-title class="text-blanco">
          Datos del equipo
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <mat-icon class="text-blanco">add_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container mt-4">
        <app-datos-del-equipo></app-datos-del-equipo>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->

    <mat-expansion-panel class="m-1" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header
        [ngClass]="{'bg-danger': formularioSeleccionado == 2 , 'bg-secondary': formularioSeleccionado != 2}">
        <mat-panel-title class="text-blanco">
          Estado - Inspección física
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <mat-icon class="text-blanco">add_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container mt-4">
        <app-estado-inspeccion-fisica></app-estado-inspeccion-fisica>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->
    <mat-expansion-panel class="m-1" [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header
        [ngClass]="{'bg-danger': formularioSeleccionado == 3 , 'bg-secondary': formularioSeleccionado != 3}">
        <mat-panel-title class="text-blanco">
          Diagnóstico y/o reparación
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <mat-icon class="text-blanco">add_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container mt-4">
        <app-diagnostico-preparacion></app-diagnostico-preparacion>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->
    <mat-expansion-panel class="m-1" [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header
        [ngClass]="{'bg-danger': formularioSeleccionado == 4 , 'bg-secondary': formularioSeleccionado != 4}">
        <mat-panel-title class="text-blanco">
          Ingreso
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <mat-icon class="text-blanco">add_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container mt-4">
        <app-ingreso></app-ingreso>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->

    <mat-expansion-panel class="m-1" [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header
        [ngClass]="{'bg-danger': formularioSeleccionado == 5 , 'bg-secondary': formularioSeleccionado != 5}">
        <mat-panel-title class="text-blanco">
          Condiciones del servicio
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <mat-icon class="text-blanco">add_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container mt-4">
        <app-condiciones-del-servicio></app-condiciones-del-servicio>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->

    <mat-expansion-panel class="m-1" [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
      <mat-expansion-panel-header
        [ngClass]="{'bg-danger': formularioSeleccionado == 6 , 'bg-secondary': formularioSeleccionado != 6}">
        <mat-panel-title class="text-blanco">
          Aceptación de condiciones
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <mat-icon class="text-blanco">add_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container mt-4">
        <app-aceptacion-de-condiciones></app-aceptacion-de-condiciones>
      </div>
      <!-- <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field> -->
      <mat-datepicker #picker></mat-datepicker>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Terminar</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
