.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-header {
  max-height: 2.5em;
  padding: 0px 0px 0px 10px;
}
