<div class="container">
  <div class="boton-rojo">Datos de Identificacion</div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-12 row mb-3">
        <label for="nombresyapellidos" class="col-4 label-form">Nombres y apellidos<span class="text-danger"> *</span>
        </label>
        <input id="nombresyapellidos" type="text" class="form-control col-12 tamano input-peque">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 row mb-3">
        <label for="tipodedocumento" class="col-4 label-form">Tipo de Documento<span class="text-danger">
            *</span></label>
            <select [(ngModel)]="campos.documentoSeleccionado.valor" id="tipodedocumento" class="form-control form-select tamano input-peque py-0">
            <option selected disabled value=""> --selecciona-- </option>
            <option *ngFor="let d of listadoDeDocumentos" value="{{d.Code}}">{{d.Description}}</option>
          </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 row mb-3">
        <label for="nodedocumento" class="col-4 label-form">No.de Documento<span class="text-danger"> * </span>
        </label>
        <input id="nodedocumento" type="text" class="form-control col-12 tamano">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 row mb-3">
        <label for="telefono" class="col-4 label-form">Telefono<span class="text-danger"> *</span></label>
        <input id="telefono" type="text" class="form-control col-12 tamano input-peque">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 row mb-3">
        <label for="email" class="col-4 label-form">Email<span class="text-danger"> *</span></label>
        <input id="email" type="text" class="form-control col-12 tamano input-peque">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 row mb-3">
        <label for="departamento" class="label-form">Departamento<span class="text-danger"> *</span></label>
        <select (change)="changeDepartments()" [(ngModel)]="campos.departamentoSeleccionado.valor" id="departamento"
          class="form-control form-select tamano input-peque py-0">
          <option selected disabled value="">--selecciona--</option>
          <option *ngFor="let d of listadoDepartamentos" value="{{d.Code}}">{{d.Description}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 row mb-3">
        <label for="ciudad" class="col-4 label-form">Ciudad<span class="text-danger"> *</span></label>
        <select [disabled]="campos.ciudadSeleccionada.habilitar" [(ngModel)]="campos.ciudadSeleccionada.valor" id="ciudad"
          class="form-control form-select tamano input-peque py-0">
          <option selected disabled value="">--selecciona--</option>
        <option *ngFor="let c of listadoDeCiudades" value="">{{c.Description}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-12 row mb-3">
        <label for="direccion" class="col-4 label-form">Direccion<span class="text-danger"> *</span></label>
        <input id="direccion" [(ngModel)]="campos.direccion.valor" type="text"
          class="form-control col-12 tamano input-peque">
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-12 row mt-3">
        <button class="btn btn-success rounded-pill tamano input-peque py-0">Validar</button>
      </div>
    </div>
  </div>
</div>
